* { margin: 0; padding: 0; }

body, html { background-color:#f2f2f2; min-width:1200px; height:100%; font:16px/1.8 Microsoft YaHei,sans-serif; }

li { list-style: none; }

img { border: 0 none; }

a { border: 0 none; text-decoration: none; outline: none; }
a:hover { text-decoration: none; }

.clear { zoom: 1; }
.clear:after { content: ''; display: block; clear: both; }

header{ width: 100%; min-width:1000px; }
.top { width: 100%;  height: 36px; background-color: #0f6ece;}
.top_content { width: 1000px; height: 36px; margin: 0 auto; line-height: 36px; }
.top-title { float: left; font-size: 11px; color: #FFF; margin-left: 34px; }
.top-nav { float: right; margin-right:50px;}
.top-nav p { display: inline-block; margin: 0 8px;  }
.top-nav p a {  font-size: 11px; color: #FFF; }

.menu { width: 1000px; height: 100px; margin: 0 auto; font-size: 0px; }
.menu-logo{  width: 238px; height:100px; float:left; }
.menu-logo a{ display:table-cell; width:238px; height:100px; vertical-align: middle; text-align:center;}
.menu-logo img{ width:100%; }
.menu-navbar { width:762px; height:100px; text-align:right;  float:right; }
.menu-navbar li { width: 110px; height:100px; display: inline-block;}
.menu-navbar li a { width:110px; height:97px; display:table-cell; border-radius: 3px; vertical-align: middle; font-size:18px; color: #0077ef; border-bottom:3px solid #f2f2f2;  text-align:center;}
.menu-navbar li a:hover{ border-bottom:3px solid #0077ef}
.menu-navbar li a span { font-family: Arial; font-size: 15px; }

.outer{ width:100%; }

.head-img{ width: 100%; min-height: 200px; text-align: center; vertical-align:middle;}

.nav_bar{ width: 100%; line-height: 40px; background-color: #FFFFFF;}
.nav_bar_content{ width: 1000px; margin: 0 auto; font-size: 14px; color: #808080; border-top: 1px solid #FFFFFF; }
.nav_bar_content a{ margin: 0 5px; color: #808080;}
.nav_bar_content a:hover{ color: #0053a7;}

.content{ width:1000px; height: 100%; margin:0 auto;}

.recent-posts{ position: relative; width:660px; float:right; background-color:#FFFFFF; margin:15px 0; min-height: 600px; }
.recent-post-item{  padding:15px; margin:15px 0; }
.article-item:hover{ background-color:#f2f2f2;}

.article-gallery{ width:160px; height: 120px;  float:left; }
.article-gallery-img img{ width:100%; height: 100%;}

.article_content{ width:440px; padding:0 15px; float:left;  }
.title_date{ width:440px; text-align:center;}
.article_content2{  padding:0 15px; float:left;  }
.title_date2{  text-align:center;}

.article-title{ display: block;width:310px; font-size:20px;  line-height:35px; color: #333;   float:left; white-space: nowrap; overflow: hidden; text-overflow:ellipsis; text-align: left;}
.article_time{ display:block; width:130px;  font-size:16px; line-height:35px;  float:right;  }
.article-title2{ font-size:24px; line-height:25px; color:#010101; font-weight: normal;}
.article_time2{ font-size:14px; line-height:50px; color: #808080; }
.article_time2 span{ margin-left: 20px;}
/*虚线*/
.line-dashed { border-bottom: 1px #999 dashed; }
.line1{ margin-bottom: 40px;}
.line2{ margin: 30px auto;}
.content-button { width: 100%; margin: 0 auto; }
.foot-menu { font-size: 16px; color: #404040; margin-top: 10px; }
.foot-menu a { color: #404040; }
.foot-menu a:hover { text-decoration: underline; }
.return { width: 120px; height: 32px; border: 1px; float: right; margin-top: 20px; margin-bottom: 20px; outline: none; cursor: pointer; border-radius: 10px; background: url(http://www.jinshi5.com/image/Back-share.png) no-repeat; }
.return:hover { width: 120px; height: 32px; border-radius: 10px; background: url(http://www.jinshi5.com/image/Back-share.png) no-repeat 0 -32px; }


.sidebar{ width:320px; padding: 15px 0; float:left;}
.widget-wrap{ text-align:center; width: 320px;}
.widget-wrap2{ width: 320px; background-color:#FFF;}
.two{ margin-top: 30px;}
.ico1{ display: inline-block;  width: 24px; height: 24px; background: url("http://www.jinshi5.com/image/icon1.jpg"); vertical-align: middle; margin: 0 15px; }
.ico2{ display: inline-block;  width: 24px; height: 24px; background: url("http://www.jinshi5.com/image/icon2.jpg"); vertical-align: middle; margin: 0 15px; }
.ico3{ display: inline-block;  width: 11px; height: 12px; background: url("http://www.jinshi5.com/image/icon3.jpg"); vertical-align: middle; margin: 0 10px; }
.ico4{ display: inline-block;  width: 8px; height: 10px; background: url("http://www.jinshi5.com/image2/mark.png") no-repeat 0 -10px; float: left; margin: 11px 10px 0 10px;  }
.widget-title{ line-height:50px; background-color:#0053a7; color:#FFF; font-size:20px; font-weight:normal; }
.widget-title2{ line-height:50px;  color:#333333; font-size:18px; font-weight:normal; border-bottom: 1px solid #999; }
.category-list-link{ display:block; width:320px; line-height:50px; background-color:#FFF; font-size:18px; border-top:1px solid #CCC; color:#666;}
.category-list-link:hover{ color:#0053a7;}
.category-list-item2{ padding-top: 10px; padding-bottom: 10px;}
.category-list-img{ width: 80px; height: 60px; float: left; margin-left: 15px;}
.category-list-title{ position: relative; float: right; margin-left: 15px; margin-right: 10px; width: 200px; height: 60px; font-size: 16px; color: #4c4c4c; line-height: 20px;}
.category-list-title:hover{ color: #0053a7;}
.category-list-title2{ width: 280px; margin: 5px auto; display: inline-block; float: right; margin-right: 12px; font-size: 16px; color: #4c4c4c; line-height: 25px;  }
.category-list-title2:hover{  color: #0053a7;}
.category-list-time{ position:absolute; bottom: 0; right: 0;}
.text p{ text-indent: 2em; font-size: 16px; line-height: 30px; color: #333333; }
.text li{ font-size: 16px; line-height: 30px; color: #333333;}
.text img{ text-align: center; width: 100%;}
.text h1{ font-size: 20px; line-height: 25px; color: #000000; font-weight: normal; margin: 10px 0;}
.text h2{ font-size: 20px; line-height: 25px; color: #000000; font-weight: normal; margin: 10px 0;}
.text h3{ font-size: 20px; line-height: 25px; color: #000000; font-weight: normal; margin: 10px 0;}
.text h4{ font-size: 20px; line-height: 25px; color: #000000; font-weight: normal; margin: 10px 0;}
.text h5{ font-size: 20px; line-height: 25px; color: #000000; font-weight: normal; margin: 10px 0;}
.text h6{ font-size: 20px; line-height: 25px; color: #000000; font-weight: normal; margin: 10px 0;}


.page-nav{ text-align: center;  width: 100%; margin: 20px auto; }
.extend{ font-size:16px;  color: #4c4c4c;  margin: 0 10px;}
.extend:hover{ color: #0053a7;}
.page-number{ margin: 0 10px; border: 1px solid #FFFFFF; background: #ffffff; width: 20px; height: 20px; display: inline-block; line-height: 20px; color: #4c4c4c; }
.page-number:hover{ background:#0053a7; color: #ffffff; }
.current{ background:#0053a7; color: #ffffff;}

footer { width: 100%; min-width: 1000px; background-color: #0053a7; text-align: center; border: 1px solid #FFF;}
.footing-nav { margin: 40px auto; }
.footing-logo {  font-size: 15px; font-weight: bold; color: #FFF; }
.footing-title { margin-top: 20px; position: relative; }
.footing-line { width: 25px; height: 0; border: #b8c6de 1px solid; margin-bottom: 3px; display: inline-block; }
.footing-line-title { font-size: 12px; font-weight: normal; color: #b8c6de; margin: 0px 2px; display: inline-block; }