
/* CSS Document */


* { margin: 0; padding: 0; }

body, html { font-size: 100%; height: 100%; background:url(../img/bg-repeat.jpg); }

a { text-decoration: none; }

li { list-style: none; }

input { border: 0 none; outline: 0 none; }

::-webkit-scrollbar {
width:10px;
}

::-webkit-scrollbar-track{
background-color:#d1d2b4;
border-radius:12px;
}
	
::-webkit-scrollbar-thumb{
background-color:#dedfa3;
border-radius:12px;
}

::-webkit-scrollbar-thumb:hover{
background-color:#c1c287;
}

::-webkit-scrollbar-thumb:active {
background-color:#c1c287;
}


.Pop { position: fixed; top: 50%; margin-top: -395px; left: 50%; margin-left: -459px; width: 918px; height: 790px; background: url(../img/Pop.png) no-repeat top center; background-size: 100%;}

.Pop_content { margin-top: 340px; margin-right: 30px; float: right; width: 700px; text-align: center; }

.content_input { text-align: right; font-size: 20px; color: #FFF; line-height: 30px; padding-right: 50px; margin-top:10px; }

.number { height: 30px; width: 100px; text-align: center; font-size: 20px; background-color:#fbfcd2; }

.content_inner { width: 620px; height: 250px; background-color: #fbfcd2; border-radius: 15px; margin: 40px auto 0 auto; border: 1px solid #fbfcd2; }

.inner { width: 600px; height: 230px; overflow-y: scroll; margin: 10px auto; }

.content_inner ul { width: 550px; height: 230px; margin: 0 auto;  }

/*20个以上的样式*/ 

.content_inner li.class3 { font-size: 20px; line-height: 45px; color: #9c3c26; font-weight: bold; display: inline-block; margin: 0 10px;  }

/*10个和20个的样式*/ 

.content_inner li.class4 { font-size: 20px; line-height: 45px; color: #9c3c26; font-weight: bold; display: inline-block; margin: 0 35px; }

/*3个的样式*/
.content_inner li.class1{ font-size: 20px; line-height: 45px; color: #9c3c26; font-weight: bold;  display:block; margin-top: 20px ; }

/*5个的样式*/

.content_inner li.class2{ font-size: 20px; line-height: 45px; color: #9c3c26; font-weight: bold; display:block; }

.btn { width: 150px; height: 50px; font-size: 25px; color: #fde215; margin-top: 15px; cursor: pointer; border-radius:10px; background:url(../img/btn1.png) no-repeat center center; background-size:100%;}

.btn:hover{ background:url(../img/btn2.png) no-repeat center center; background-size:100%;}



































